body::-webkit-scrollbar{
    display: none;
  }
  
  #container {
    height: 100%; /* make the container take up the full height of the screen */
    overflow-y: scroll; /* allow the container to be scrollable */

  }
 
  .scrollFade {
    opacity: 1;
    pointer-events: all;
  }
  .scrollFade--hidden {
    opacity: 0;
    pointer-events: none;
  }
  .scrollFade--visible {
    opacity: 1;
    pointer-events: all;
  }
  .scrollFade--animate {
    transition: opacity 1.5s ease-in-out;
  }

  
  section {
    height: 150vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    margin-bottom: 300px;
    display: flexbox;
  }
  
  #section1 {
    background-image: url('/Pictures/Mountain.jpg');
  }
  
  #section2 {
    background-image: url('/Pictures/mountain2.jpg');
  }
  
  #section3 {
    background-image: url('/Pictures/mountain3.jpg');
  }
  
  .text-container {
    position: absolute; /* position the text on top of the background image */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* center the text vertically and horizontally */
    color: white; /* set the text color */
    text-align: center; /* center the text horizontally */
    max-width: 800px; /* set a maximum width for the text container */
    padding: 20px; /* add some padding to the text container */
  }
  
  h1 {
    font-size: 4rem; /* set the font size for the heading */
  }
  
  p {
    font-size: 2rem; /* set the font size for the paragraph */
  }
  

.rock, .scissors, .paper {
    height: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .parentOfButtons {
    display: flex;
    justify-content: space-between
  }
  
  .message {
    display: block;
    text-align: center;
    font-size: 5vw;
  }
  
  .loading-message {
    display: none;
    font-style: italic;
  }

 /* #rockButton, #scissorsButton, #paperButton {
    display: none;
  }
  */